.home-page {
    width: 80%;
    margin-left: 10%;
}

.p-show {
    font-weight: bolder;
    margin-top: 20px;
}

.left-half {
    position: absolute;
    left: 10%;
    width: 50%;
}

.right-half {
    position: absolute;
    right: 0;
    width: 50%;
}

h1 {
    color: cornflowerblue;
    text-align: center;
}